@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative cursor-pointer font-semibold text-white text-[17px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden;
  }
  .nav-link-mobile {
    @apply relative cursor-pointer font-semibold text-white text-[27px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
  }

  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase;
  }

  .chatbot-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
  }

  .chatbot-icon {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .chatbot-icon:hover {
    transform: scale(1.1);
  }

  .chatbot-container {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 320px;
    height: 450px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex; /* Ensure the iframe is shown */
  }

  .chatbot-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
